#include? "../Pods/Target Support Files/Pods-Camerae/Pods-Camerae.qa.xcconfig"
#include "Signing.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.espindola.camerae.qa
CAMERAE_DISPLAY_NAME = Camerae QA
ASSETCATALOG_COMPILER_APPICON_NAME = AppIconQA
GOOGLE_SERVICE_INFO_PLIST = $(SRCROOT)/Config/Firebase/QA/GoogleService-Info.plist
CAMERAE_CRASHLYTICS_COLLECTION_ENABLED = YES
CAMERAE_RELEASE_CHANNEL = qa
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
PROVISIONING_PROFILE_SPECIFIER[sdk=iphoneos*] =
